Source: snapfind
Section: unknown
Priority: optional
Maintainer: lily <lily@unknown>
Build-Depends: debhelper (>= 4.0.0), autotools-dev, autoconf, diamond (>= 1.3.0), libcv-dev (>= 0.9.7-2), libcvaux-dev (>= 0.9.7-2)
Standards-Version: 3.6.2

Package: snapfind
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Snapfind: an image search application for Diamond
 SnapFind is a sample image search application that uses the
 Diamond system. SnapFind enables users to quickly search 
 through collections of unlabeled photographs by content.
 Using SnapFind, users can create an initial query (e.g. find
 all images containing human faces) and interactively refine
 the search based on partial search results. In the current 
 implementation, users an filter images based on color, texture, 
 faces, profiles, or bodies. 
